@font-face {
    font-family: 'space_grotesk';
    src: url('../fonts/SpaceGrotesk-Bold.ttf') format('ttf'),
    url('../fonts/SpaceGrotesk-Regular.ttf') format('tff');
    font-weight: normal;
    font-style: normal;
}